{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}

    {{ form_row(form.model) }}
    {{ form_row(form.manufacturer) }}
    {{ form_row(form.price) }}
    {{ form_row(form.category) }}

    <button type="submit" class="btn btn-primary btn-block">{{ button_label|default('Добавить продукт') }}</button>

{{ form_end(form) }}