<ul class="cat_menu">

{% for firstLevelCategory in categories %}
    {% if firstLevelCategory.children is empty %}
    <li><a href="{{ path('showProductsByCategory', {'category': firstLevelCategory.name}) }}">{{ firstLevelCategory.name }}<i class="fas fa-chevron-right"></i></a></li>
    {% else %}
    <li class="hassubs">
        <a>{{ firstLevelCategory.name }}<i class="fas fa-chevron-right"></i></a>
        <ul>

        {% for secondLevelCategory in firstLevelCategory.children %}
            {% if secondLevelCategory.children is empty %}
            <li><a href="{{ path('showProductsByCategory', {'category': seconLevelCategory.name}) }}">{{ secondLevelCategory.name }}<i class="fas fa-chevron-right"></i></a></li>
            {% else %}    
            <li class="hassubs">                
                <a>{{ secondLevelCategory.name }}<i class="fas fa-chevron-right"></i></a>
                <ul>
                    {% for thirdLevelCategory in secondLevelCategory.children %}
                    <li><a href="{{ path('showProductsByCategory', {'category': thirdLevelCategory.name}) }}">{{ thirdLevelCategory.name }}<i class="fas fa-chevron-right"></i></a></li>
                    {% endfor %}
                </ul>                
            </li>
            {% endif %}
        {% endfor %}

        </ul>   
    </li>
    {% endif %}    
{% endfor %}

</ul>