{% form_theme orderForm 'bootstrap_4_layout.html.twig' %}

{{ form_start(orderForm) }}

    {{ form_row(orderForm.userName) }}
    {{ form_row(orderForm.userSurname) }}
    {{ form_row(orderForm.phone) }}
    {{ form_row(orderForm.price, {attr: {'value': totalPrice }} ) }}
<div class="cart_buttons">
    <button type="submit" class="button cart_button_checkout">Order</button>
</div>
{{ form_end(orderForm) }}